<section class="action-buttons">
  <button mat-stroked-button color="primary" routerLink="add">Dodaj produkt</button>
</section>
<table class="table-details">
  <tr>
    <th>Id</th>
    <th>Nazwa</th>
    <th>Kategoria</th>
    <th>Cena</th>
    <th>Akcje</th>
  </tr>
  <tr *ngFor="let product of products; let rowIndex = index">
    <td>
      {{ product.id }}
    </td>
    <td>
      {{ product.name }}
    </td>
    <td >
      {{ product.category.name}}
    </td>
    <td>
      {{ product.price }}
    </td>
    <td>
      <button (click)="removeProduct(product.id, rowIndex)" matTooltip="Usuń produkt" mat-button><mat-icon>delete</mat-icon></button>
      <button [routerLink]="['/', 'admin-panel', 'products', 'edit', product.id]" matTooltip="Edytuj produkt" mat-button><mat-icon>edit</mat-icon></button>
    </td>
  </tr>
</table>
